<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<#include "/header.html">
<body onload="prettyPrint()">
	<#include "/navbar.html">
	<div class="container">
		<#include "/breadcrumbs.html">
		
		<div class="hidden-tablet">
			<div class="hidden-desktop">
				<#include "/metadata.html">
			</div>
		</div>
				
		<div class="row-fluid">
			<div class="span7">
				<!-- list content --> 
				<#if (items!?size > 0)>
				<table class="table">
					<tbody>				
						<#list items as item>
							<tr>
								<td>
									<#if item.download>
										<!-- downloadable artifact -->
										<a href="${repositoryUrl}/${item.path}">${item.name}</a>
									<#else>
										<!-- viewable artifact -->
										<a href="${pageRef}/${item.path}">${item.name}</a>
									</#if>
								</td>
								<td class="hidden-phone hidden-tablet">
									<#if item.size??>
									<span class="size">${item.size}</span>									
									</#if>
								</td>
								<td class="nowrap">
									<#if item.date??>
									${item.date}
									</#if>
									<div class="hidden-desktop">
										<#if item.size??>
										<span class="size">${item.size}</span>
										</#if>
									</div>
								</td>
							</tr>
						</#list>
					</tbody>
				</table>
				</#if>
		</div>

			<div class="span5">
				<div class="hidden-phone">
					<#include "/metadata.html">
				</div>
				
				<#if repositoryNote??>
					<#if isRemoteRepository>
						<div class="hidden-phone alert alert-success">
					<#else>
						<div class="hidden-phone alert alert-info">
					</#if>
					<h4>${repositoryUrl} <span class="pull-right hidden-phone"><a href="${baseRef}/atom/${crumbsRoot}"><img style="margin-top:-2px;" src="${baseRef}/feed_16x16.png"/></a></span></h4><br/>
					${repositoryNote}</div>
					
				</#if>
				
				<!-- build tool snippets-->
				<div class="tabbable hidden-phone">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#moxie" data-toggle="tab">Moxie</a></li>						
						<li><a href="#maven" data-toggle="tab">Maven</a></li>
						<li><a href="#gradle" data-toggle="tab">Gradle</a></li>
						<li class="hidden-tablet"><a href="#grape" data-toggle="tab">Grape</a></li>
						<li class="hidden-tablet"><a href="#ivy" data-toggle="tab">Ivy</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="moxie">
							<pre class="prettyprint lang-yaml">${moxieSnippet}</pre>
						</div>
						<div class="tab-pane" id="maven">
							<pre class="prettyprint lang-xml">${mavenSnippet}</pre>
						</div>
						<div class="tab-pane" id="gradle">
							<pre class="prettyprint lang-yaml">${gradleSnippet}</pre>
						</div>
						<div class="hidden-tablet tab-pane" id="grape">
							<pre class="prettyprint lang-java">${grapeSnippet}</pre>
						</div>
						<div class="hidden-tablet tab-pane" id="ivy">
							<pre class="prettyprint lang-xml">${ivySnippet}</pre>
						</div>
					</div>
				</div>				
			</div>
		</div>
		<#include "/footer.html">
	</div>
</body>
</html>