<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<#include "/header.html">
<body onload="prettyPrint()">
	<#include "/navbar.html">
	<div class="container">
		<#include "/breadcrumbs.html">
		
		<div class="row-fluid">
			<div class="span7">	
				<!-- list content --> 
				<#if (items!?size > 0)>
				<table class="table">
					<tbody>				
						<#list items as item>
							<tr>
								<#if item.download>
									<!-- downloadable artifact -->
									<td><a href="${repositoryUrl}/${item.path}">${item.name}</a></td>
								<#else>
									<!-- viewable artifact -->
									<td><a href="${pageRef}/${item.path}">${item.name}</a></td>
								</#if>
								<td>
									<#if item.date??>
									${item.date}
									</#if>
								</td>
								<td>
									<#if item.size??>
									${item.size}
									</#if>
								</td>
							</tr>
						</#list>
					</tbody>
				</table>
				</#if>
		</div>

			<div class="span5">
				<#if pom??>
					<div class="alert">
					<!-- Artifact Metadata -->
					<h4>${pom.artifactId} ${pom.version}</h4>
					<ul class="unstyled">
						<#if pom.description??>
							<#if pom.name??>
								<li style="padding-top:10px">${pom.name}</li>
								<li style="padding-top:5px">${pom.description}</li>
							<#else>
								<li style="padding-top:10px">${pom.description}</li>
							</#if>
						<#else>
							<#if pom.name??>
								<li style="padding-top:10px">${pom.name}</li>
							</#if>
						</#if>
						<#if pom.organization??>
							<li style="padding-top:10px;">${rc.getString("mp.by")} ${pom.organization}</li>
						</#if>
						<#if pom.url??>
							<li><a target="_blank" href="${pom.url}">${pom.url}</a></li>
						</#if>
						<#if pom.issuesUrl??>
							<li style="padding-top:20px"><a target="_blank" href="${pom.issuesUrl}">${rc.getString("mp.issueTracker")}</a></li>
						</#if>
					</ul>

					<!-- Artifact Licenses -->		
					<#if (pom.licenses!?size > 0)>
						<h4 style="padding-top:10px;">${rc.getString("mp.licenses")}</h4>
						<ul class="unstyled">
						<#list pom.licenses as license>
							<#if license.url??>
								<li><a target="_blank" href="${license.url}">${license.name}</a></li>
							<#else>
								<li>${license.name}</li>
							</#if>
						</#list>
						</ul>
					</#if>
					</div>
				</#if>
				
				<!-- dependencies content --> 
				<#if (dependencies!?size > 0)>
				<div class="alert alert-info">
					<h4 style="padding-bottom:5px;">dependencies</h4>
					<table>
						<tbody>				
							<#list dependencies as dependency>
								<tr>
									<td><a href="${baseRef}/${dependency.path}">${dependency.coordinates}</a></td>
								</tr>
							</#list>
						</tbody>
					</table>
				</div>
				</#if>
				
				<#if repositoryNote??>
					<#if isRemoteRepository>
						<div class="hidden-phone alert alert-success">
					<#else>
						<div class="hidden-phone alert alert-info">
					</#if>
					<h4>${repositoryUrl} <span class="pull-right hidden-phone"><a href="${baseRef}/atom/${crumbsRoot}"><img style="margin-top:-2px;" src="${baseRef}/feed_16x16.png"/></a></span></h4><br/>
					${repositoryNote}</div>
					
				</#if>
				
				<!-- build tool snippets-->
				<div class="tabbable hidden-phone">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#moxie" data-toggle="tab">Moxie</a></li>						
						<li><a href="#maven" data-toggle="tab">Maven</a></li>
						<li><a href="#gradle" data-toggle="tab">Gradle</a></li>
						<li class="hidden-tablet"><a href="#grape" data-toggle="tab">Grape</a></li>
						<li class="hidden-tablet"><a href="#ivy" data-toggle="tab">Ivy</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="moxie">
							<pre class="plain">${moxieSnippet}</pre>
						</div>
						<div class="tab-pane" id="maven">
							<pre class="prettyprint lang-xml">${mavenSnippet}</pre>
						</div>
						<div class="tab-pane" id="gradle">
							<pre class="plain">${gradleSnippet}</pre>
						</div>
						<div class="hidden-tablet tab-pane" id="grape">
							<pre class="plain">${grapeSnippet}</pre>
						</div>
						<div class="hidden-tablet tab-pane" id="ivy">
							<pre class="prettyprint lang-xml">${ivySnippet}</pre>
						</div>
					</div>
				</div>				
			</div>
		</div>
		<#include "/footer.html">
	</div>
</body>
</html>