<!-- page footer -->
<footer>
	<p class="pull-right">
		<a title="${appName}" href="${appUrl}">${appVersion}</a>
	</p>
	<!--<#if user??>
		${user} <a>${rc.getString("mp.logout")}</a>			 
	</#if>-->
</footer>

<!-- load the scripts at the end for performance -->
<script type="text/javascript" src="${baseRef}/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="${baseRef}/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="${baseRef}/prettify/prettify.js"></script>					
