<!-- Head -->
<head>
	<meta name="ROBOTS" content="INDEX">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>${title}</title>
	<link rel="stylesheet" href="${baseRef}/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="${baseRef}/bootstrap/css/bootstrap-responsive.css" />
	<link rel="stylesheet" href="${baseRef}/prettify/prettify.css" />
	<link rel="stylesheet" href="${baseRef}/application.css" />
	<link rel="shortcut icon" href="${baseRef}/favicon.ico" />
</head>