<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           		<span class="icon-bar"></span>
           		<span class="icon-bar"></span>
           		<span class="icon-bar"></span>
         	</a>
         	<a class="brand" href="${baseRef}"><img src="${baseRef}/moxie.png" alt="${appName}"></img></a>
			<div class="nav-collapse">
				${appMenu}
			</div>
			<form style="margin: 0;"class="navbar-search pull-right" action="${baseRef}/search" method="get">
				<span style="color:#ccc;">${user}</span> &nbsp;
				<span> 
					<input style="vertical-align: baseline;" name="query" type="text" value="${query!}">
					<input style="vertical-align: baseline;" type="submit" class="btn btn-primary" value="${rc.getString("mp.search")}">
				</span>
			</form>
		</div>
	</div>
</div>