<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<#include "/header.html">
<body>
	<#include "/navbar.html">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
					<div class="hero-unit">
						<h1>${title}</h1>
						<p>${tagline}</p>
					</div>
					${content}
			</div>
			
			<div class="span6">
				<h3>${rc.getString("mp.recentArtifacts")} <span class="pull-right"><a style="vertical-align:top;" href="${baseRef}/atom"><img src="${baseRef}/feed_16x16.png"/></a></span></h3>
				<!--  recent artifacts -->
				<#include "/results.html">
			</div>
		</div>
		<#include "/footer.html">
	</div>
</body>
</html>