a:focus {
	outline: none;
}

pre.plain {
	padding: 2px;
	background-color: white;
	border: none;
}

pre.prettyprint {
	background-color: white;
	border: none;
}

span.allow {
	color:#008000;
	font-weight: bold;
}

span.deny {
	color:#F00000;
	font-weight: bold;
}

span.repository {
	color: #aaa;
	font-style: italic;
}